ul {text-align : left}
#body{
    background-color: yellowgreen;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items : center;

    height:10%;
    padding : 0em 2em 0em 0em;
}
#navigation_web > div{
    max-height:100%;
}

/* nav_left */

.arrow{
    vertical-align: middle;
    max-width : 30%;
    height : auto !important;
}