<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.6.1/fabric.min.js"></script>
    <script type="text/javascript">
        class Player {
            constructor(no, canvas) {
                this.canvas = canvas;
                this.hand = [];
                this.no = no;
            }

            draw() {
                this.drawProfile();
                this.drawHand();
            }

            drawHand() {
                let cX;
                let cY;
                if (this.no === 1) {
                    cX = 900;
                    cY = 10;
                } else {
                    cX = 900;
                    cY = 490;
                }

                for (let i = 0; i < 2; i++) {
                    for (let j = 0; j < 5; j++) {
                        let card = new fabric.Rect({
                            left: 40 * j + cX,
                            top: cY + 55 * i,
                            fill: 'red',
                            width: 30,
                            height: 50
                        });
                        this.canvas.add(card);
                        this.hand.push(card);
                    }
                }
            }

            drawProfile() {
                let cX;
                let cY;
                if (this.no === 1) {
                    cX = 200;
                    cY = 10;
                } else {
                    cX = 200;
                    cY = 490;
                }
                this.profile = new fabric.Circle({
                    left: cX,
                    top: cY,
                    radius: 50
                });

                this.profile.setGradient('fill', {
                    x1: 0,
                    y1: 0,
                    x2: 0,
                    y2: this.profile.height,
                    colorStops: {
                        0: '#000',
                        1: '#fff'
                    }
                });

                this.canvas.add(this.profile);
            }
        }


        function draw() {
            console.log("load complete!");
            let canvas = new fabric.Canvas('canvas');

            new Player(1, canvas).draw();
            new Player(2, canvas).draw();
        }
    </script>
</head>
<body onload="draw();">
<canvas class="border" id="canvas" width="1200" height="600"></canvas>
</body>
</html>