<!DOCTYPE html>
<html lang="ko">

<head>
    <title>Madgo Enter Form</title>
    <!-- Include CSS File Here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/account.css" />

</head>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="javascripts/view/home.js"></script>
<!-- 
<script>
  
  var socket = io.connect("http://localhost:3000", {path: "/socket.io"});
  socket.on('echo', function(data){
      console.log("Data : "+data);
      writeToScreen("받은 메시지 : "+data);
  });
  function sendMessage(){
      //mss = document.getElementById("message").value;
      mss = "mememememsage";
      socket.emit("ms", mss);
  };
  function writeToScreen(message){
    console.log(message);  
    // var pre = document.createElement("p");
      // pre.style.wordWrap = "break-word";
      // pre.innerHTML = message;
      // output.appendChild(pre);
  }

</script> -->
<body>
    <div class="container">
        <div class="content-box">
            <div id="content1" class="content1">
                <a href="/">
                    <span id="return_page" class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <div class="title">
                    <p>MADGO! : Let's play</p>

                    <% if(username){ %>
                    <script>
                        // var confirm_alert = confirm("존재하지 않는 회원입니다. 바로 가입하시겠습니까?");
                        // if (confirm_alert == true) {
                        //     alert("가입되었습니다.")
                        // } else if ( confirm_alert == false) {
                        //     alert("다시 로그인해주세요.");
                        // }
                        var alert = alert("존재하지 않는 정보입니다.");
                    </script>
                    <% }else{ %>
                    <h2> Please Login. </h2>
                    <% } %>

                </div>
                <form id="user1_form" class="form-horizontal" method="POST">
                    <div class="form-group">
                        <label id="input_user1_lable" for="inputname" class="col-sm-2 control-label">User1 Name
                            :</label>
                        <div class="col-sm-10">
                            <input type="text" required class="form-control" id="user1_id" name="username"
                                placeholder="user1 ID">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="password" required class="form-control" id="user1_pw" name="password"
                                placeholder="user1 PW">
                        </div>
                    </div>
                    <button id="user1_btn_signin" type="submit" formaction="/home/user/login" class="btn btn-success">Sign in</button>
                    <button id="user1_btn_signup" type="submit" formaction="/home/user/register" class="btn btn-success">Sign Up</button>
                </form>

                <form id="user2_form" class="form-horizontal" method="POST" action="/home">
                    <div class="form-group">
                        <label id="input_user2_label" for="inputname" class="col-sm-2 control-label">User2 Name :</label>
                        <div class="col-sm-10">
                            <input type="name" class="form-control" id="name" name="name" placeholder="user2"> </div>
                    </div>
                    <div class="form-group">
                        <div id="startBtn" class="col-sm-offset-2 col-sm-10">
                            <!-- <button type="submit" class="btn btn-default" id="start_btn">Game Start</button> -->
                            <button id="connectingBtn" class="btn btn-default">Game Start</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <!-- <script src="../node_modules/socket.io-client/dist/socket.io.js"></script> -->
    
</body>

</html>