html { width:100%; height:100%;}
body{
    background : radial-gradient(circle, #FFE45C, #00DB5F, #2d9e6e );
}
.container{
    width: 100%;
    height: 100%;

    position: absolute;
    top:0; right:0; bottom:0; left:0;
    display:flex;
    align-items:center;
    justify-content : center;

    display:-webkit-flex;
    -webkit-align-item:center;
    -webkit-justify-content:center;

    text-align : center;
    font-family: 'Raleway', sans-serif;
}


.content1
{
    color: black;
    padding-top:5%;
    padding-bottom:1%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 485px;    
    margin-left:auto;
    margin-right: auto;

    background-color: #dadbdb;
    border-radius: 50px;
    opacity: 0.8;
}

/* return 아이콘과 제목 부분 */
#return_page{
    font-size: 3rem;
    color:yellow;
}
.title{
    width:100%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right:auto;
}
.title > p{
    font-size: 3rem;
}

/* form 부분 */
.form-group .control-label{
    width:100%; 
    text-align:left;
    margin-left:1%;
    margin-bottom: 2%;
}

.form-group div{
    width:100%;
}
#startBtn{
    margin-left: 0px;
    text-align: center;
}

/* 생성된 Hello ID
#helloID{
    font-family : "돋움";
    font-weight : bold;
    font-size: large;
    margin-top: 5%;
    margin-bottom:5%;
    color : #088A08;

} */