<head>
    <link rel='stylesheet' type='text/css' href='stylesheets/navigation.css'>
</head>

<nav id="navigation_web">
    <div id="head" style="display:flex;">
        <div id="base_arrow">
            <img id="nav_LR_arrow" class="arrow" src="../src/images/arrow-LR.png">
        </div>
    </div>
    <div id="body" style="display:none;">
        <div class="nav_left">
            <img id="nav_RL_arrow" class="arrow" src="../src/images/arrow-RL.png">
        </div>
        <div class="nav_center">
            <div>
                center
            </div>
        </div>
        <div class="nav_right">
            <div id="chat">
                chat
            </div>
        </div>
    </div>
    
</nav>
<script src="../javascripts/view/navigation.js"></script>
