<!DOCTYPE html>
<html lang="ko">

<head>
    <title></title>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div class="chat_list_wrap">
        <div id="chatList" class="list">
            <ul>
            </ul>
        </div>
    </div>
    <input type="text" id="msg" name="msg" required>
    <button type="submit" id="sendBtn">send</button>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="module" src="/javascripts/index.js"></script>
</body>

</html>